html {
    scroll-behavior: smooth;
}

.welcome {
    text-align: center;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
}

.footer {
    text-align: center;
}
